{# core/templates/core/landing_page.html #}
{% extends 'core/base.html' %} 
{% load static %}

{% block title %}Landing Page - MotoGM{% endblock title %} 

{% block content %}
<div class="main-content no-padding-top">
  <section class="landing-hero">
    <div class="hero-overlay">
      <div class="hero-content">
        {# Cuadro de botones - SIEMPRE VISIBLE #}
        <div class="hero-box hero-buttons">
          <a href="{% url 'productos:lista_productos' %}" class="btn-hero">PRODUCTOS</a>
          <a href="#nosotros" class="btn-hero">NOSOTROS</a>
          <a href="#contacto" class="btn-hero">CONTACTO</a>
        </div>

        {# Cuadro de login - SOLO VISIBLE SI EL USUARIO NO ESTÁ AUTENTICADO #}
        {% if not user.is_authenticated %}
          <div class="hero-box hero-login">
            <h2>INICIAR SESIÓN</h2>
            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <input type="text" name="username" placeholder="usuario o correo electronico" required>
              <input type="password" name="password" placeholder="Contraseña" required>
              <button type="submit">Entrar</button>
            </form>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  {# Contenido de productos - SIEMPRE VISIBLE #}
<div class="containercategory">
  <div class="logocategoryaprove">
    <img src="{% static 'core/img/logonegro.png' %}" alt="Logo de Moto-GM">
 </div>

 <div class="categorybuttons">
    <a href="{% url 'productos:lista_productos_by_category' 1 %}" class="btn btn-category">Casco</a>
    <a href="{% url 'productos:lista_productos_by_category' 2 %}" class="btn btn-category">Accesorios</a>
    <a href="{% url 'productos:lista_productos_by_category' 3 %}" class="btn btn-category">Chaquetas</a>
 </div>

 <div class="category-cards">
    <a href="{% url 'productos:lista_productos_by_category' 1 %}" class="category-card">
        <img src="{% static 'core/img/casco.png' %}" alt="Casco">
    </a>
    <a href="{% url 'productos:lista_productos_by_category' 2 %}" class="category-card">
        <img src="{% static 'core/img/luces.png' %}" alt="Accesorios">
    </a>
    <a href="{% url 'productos:lista_productos_by_category' 3 %}" class="category-card">
        <img src="{% static 'core/img/chaqueta.png' %}" alt="Chaqueta">
    </a>
</div>



</div>
{% endblock content %}