    {% extends 'dashboard_admin/dashboard_base.html' %}

    {% block title %}Dashboard Admin{% endblock %}

    {% block dashboard_content %}
        <h1 class="content-title">Bienvenido al Panel de Administración</h1>
        <p>Desde aquí podrás gestionar productos y categorías.</p>
        <div class="card-grid">
            <div class="dashboard-card bg-primary-custom">
                <div class="card-body-custom">Gestión de Productos</div>
                <div class="card-footer-custom">
                    <a href="{% url 'dashboard_admin:producto_list' %}">Ver Detalles</a>
                    <div><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
            <div class="dashboard-card bg-success-custom">
                <div class="card-body-custom">Gestión de Categorías</div>
                <div class="card-footer-custom">
                    <a href="{% url 'dashboard_admin:categoria_list' %}">Ver Detalles</a>
                    <div><i class="fas fa-angle-right"></i></div>
                </div>
            </div>

         {# NUEVA TARJETA: Gestión de Pedidos #}
            <div class="dashboard-card bg-info-custom">
                <div class="card-body-custom">Pedidos de Clientes</div>
                <div class="card-footer-custom">
                <a href="{% url 'dashboard_admin:ver_pedidos' %}">Ver Pedidos</a>
                <div><i class="fas fa-angle-right"></i></div>
            </div>
        </div>

         {# NUEVA TARJETA: Gestión de Clientes #}
        <div class="dashboard-card bg-secondary-custom">
            <div class="card-body-custom">Gestión de Clientes</div>
            <div class="card-footer-custom">
                <a href="{% url 'dashboard_admin:ver_clientes' %}">Ver Clientes</a>
                <div><i class="fas fa-angle-right"></i></div>
            </div>
        </div>

        {# NUEVA TARJETA: Panel de Reportes #}
        <div class="dashboard-card bg-warning-custom">
            <div class="card-body-custom">Reportes y Análisis</div>
            <div class="card-footer-custom">
                <a href="{% url 'dashboard_admin:dashboard_reportes' %}">Ver Reportes</a>
                <div><i class="fas fa-angle-right"></i></div>
            </div>
        </div>


        
        <div class="dashboard-card bg-dark-custom">
            <div class="card-body-custom">Gestión de Inventario</div>
            <div class="card-footer-custom">
                <a href="{% url 'inventario:historial_movimientos' %}">Ver Historial</a>
                <div><i class="fas fa-angle-right"></i></div>
            </div>
        </div>


        {# Fin de la nueva tarjeta #}
        </div>
    {% endblock %}
    