{% extends 'dashboard_admin/dashboard_base.html' %}
{% load static %}

{% block title %}Inicio del Panel{% endblock %}

{% block content %}
<h1>Bienvenido al panel de administración</h1>

<div class="dashboard-cards">
  <div class="card">
    <h3>Productos</h3>
    <p>Total: ...</p>
  </div>
  <div class="card">
    <h3>Categorías</h3>
    <p>Total: ...</p>
  </div>
  <div class="card">
    <h3>Ventas</h3>
    <p>Total: ...</p>
  </div>
  <div class="card">
    <h3>Usuarios</h3>
    <p>Total: ...</p>
  </div>
</div>
{% endblock %}
