    {% extends 'dashboard_admin/dashboard_base.html' %}

    {% block title %}Dashboard Admin{% endblock %}

    {% block dashboard_content %}
        <h1 class="content-title">Bienvenido al Panel de Administración</h1>
        <p>Desde aquí podrás gestionar productos y categorías.</p>
        <div class="card-grid">
            <div class="dashboard-card bg-primary-custom">
                <div class="card-body-custom">Gestión de Productos</div>
                <div class="card-footer-custom">
                    <a href="{% url 'dashboard_admin:producto_list' %}">Ver Detalles</a>
                    <div><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
            <div class="dashboard-card bg-success-custom">
                <div class="card-body-custom">Gestión de Categorías</div>
                <div class="card-footer-custom">
                    <a href="{% url 'dashboard_admin:categoria_list' %}">Ver Detalles</a>
                    <div><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    {% endblock %}
    