{% extends 'dashboard_admin/dashboard_base.html' %}
{% load humanize %}


    {% block title %}
        {% if action == 'update' %}Editar Producto{% else %}Crear Producto{% endif %}
    {% endblock %}

    {% block dashboard_content %}
    <div class="form-container-custom">
        <h1 class="content-title">
            {% if action == 'update' %}Editar Producto: {{ producto.nombre }}{% else %}Crear Nuevo Producto{% endif %}
        </h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group-custom">
                    <label for="{{ field.id_for_label }}" class="form-label-custom">{{ field.label }}:</label>
                    {% if field.name == 'stock' %}
                        <input type="number" name="stock" id="{{ field.id_for_label }}" value="{{ field.value }}" readonly class="form-control" style="background-color: #eee;" />
                    {% elif field.name == 'imagen' %}
                        {{ field }}
                        {% if field.value %}
                            <p class="mt-2">
                                <img src="{{ field.value.url }}" class="form-image-preview" alt="Imagen actual">
                            </p>
                        {% endif %}
                    {% elif field.widget_type == 'checkbox' %}
                        <div class="form-check-custom">
                            {{ field }}
                            <label class="form-check-label-custom" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                        <small class="form-text-custom">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="text-danger-custom">{{ error }}</div>
                    {% endfor %}
                </div>
                <hr class="field-separator-custom" />
            {% endfor %}
            {% if form.non_field_errors %}
                <div class="messages-container">
                    <li class="alert-error">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </li>
                </div>
            {% endif %}
            <button type="submit" class="btn-custom btn-success-custom">
                {% if action == 'update' %}<i class="fas fa-save me-2"></i> Guardar Cambios{% else %}<i class="fas fa-plus-circle me-2"></i> Crear Producto{% endif %}
            </button>
            <a href="{% url 'dashboard_admin:producto_list' %}" class="btn-custom btn-secondary-custom ms-2">
                <i class="fas fa-times-circle me-2"></i> Cancelar
            </a>
        </form>
    </div>
    {% endblock %}
    
    <td>${{ producto.precio|intcomma }} COP</td>
